<div>
    <component>header</component>

    <b>Beste {% Naam %},</b>

    <div>Bij deze uw factuur naar Japan..</div>

    // TODO: Text zonder tags doet het nog niet.
    
    <h4>Deelnemerslijst</h4>
    <component>participantlist</component>

    <div class="paragraph">
        <p>Betaal tijdig en voorkom een boete!</p>
    </div>

    <component>footer</component>
</div>